{% extends 'base_files/base.html' %}

{% block meta %}
<title>Qualification</title>
{% endblock meta %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container-fluid full-height filter-container">
    <div class="row text-center top-row">
        <div class="col">
            <h1>Filter</h1>
        </div>
    </div>
    <div class="row flex-grow-1 filter-row text-center">
        <div class="col-12 col-md-8 col-lg-6 d-flex flex-column p-3 mx-auto">
            <form action="">
                <h3 class="my-3 text-start">Sort by</h3>
                {% include "widget\filter-item.html" with filtername='Newest Member' %}
                {% include "widget\filter-item.html" with filtername='Last Active' %}
                {% include "widget\filter-item.html" with filtername='Distance' %}
                {% include "widget\filter-item.html" with filtername='Popularity' %}
                {% include "widget\filter-item.html" with filtername='Age' %}
                {% include "widget\filter-item.html" with filtername='Gender' %}
                {% include "widget\filter-item.html" with filtername='Location' %}
                <h3 class="my-3 text-start">Filter by</h3>
                {% include "widget\filter-item.html" with filtername='Interests/Hobbies' %}
                {% include "widget\filter-item.html" with filtername='Languages Spoken' %}
                {% include "widget\filter-item.html" with filtername='Relationship Goals' %}
                <div class="m-5">
                    <button class="border-0 outline-0 bg-danger text-light py-1 px-3 rounded-3">Cancel</button>
                    <button class="border-0 outline-0 text-light py-1 px-3 rounded-3"
                        style="background-color:var(--russian-violet)">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "widget/menu.html" %}
{% endblock content %}