{% extends 'base_files/base.html' %}

{% block meta %}
<title>Qualification</title>
{% endblock meta %}

{% block header %}
{% include 'widget/filter-page-navbar.html' with image="https://i.ibb.co/8Xqgtvq/profile.jpg" title="Match" %}
{% endblock header %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3 class="match-message">Your matches<span class="match-count ms-2"> {{ match_count }} </span></h3>
        </div>
    </div>

    <div class="row">
        {% for match in matches %}
        {% include "widget/filter-profile-card.html" with image=match.user.user_details.profile_pic.url name=match.user.username match_per=match.score location=match.user.user_details.user_location.address_details.city age=match.user.user_details.age distance=match.distance|floatformat:2 %}
        {% empty %}
        <p>No matches found.</p>
        {% endfor %}
    </div>
</div>

{% include "widget/menu.html" %}
{% endblock content %}