APScheduler==3.10.4
asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.0.8
httpagentparser==1.9.5
idna==3.8
ipapi==1.0.4
pillow==10.4.0
pytz==2024.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
tzlocal==5.2
urllib3==2.2.2
