APScheduler==3.10.4
asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
Django==5.0.8
django-allauth==64.2.1
httpagentparser==1.9.5
idna==3.8
ipapi==1.0.4
phonenumbers==8.13.45
pillow==10.4.0
pycountry==24.6.1
pycparser==2.22
PyJWT==2.9.0
pytz==2024.1
razorpay==1.4.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
tzlocal==5.2
urllib3==2.2.2
