.container-fluid{
    margin-top: 1%;
    margin-left: 40%;
    width:390px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 15px rgba(192, 192, 192, 0.5);
  }
  #row1{
      padding:6%;
      font-weight: bold;
  }
  #head{
      text-align: center;
      font-size:xx-large;
  }
  .d1{
      width: 350px;
      height: 70px;
      margin-top: 2%;
      margin-left:3%;
      border-radius: 10px;
      background-color:rgba(255, 255, 255, 0.908);
      box-shadow: 2px 4px 15px rgba(192, 192, 192, 0.5);
  }
  .d1:hover{
      border: 1px solid red;
  }
  .btn{
      width:350px;
      height: 50px;
      margin-left:5%;
      margin-top: 20%;
      color: white;
      padding-top:3%;
      background-color:rgb(80, 1, 80);
      border-radius: 10px;
  }
  img{
      height: 25px;
  }