@media (min-width: 769px) {
    .user-card {
        Width: 292.5px; 
        Height: 70px; 
        margin-top: 25px;
        Left: 50px;
        border-radius: 18px;
    }

    .text{
            padding-top: 20px;
            padding-left: 55px;
    }

    .point-chart {
        width: 500px !important;
        height: 293px;
        margin-top: 25px;
        margin-left: -60px;
    }

    .subcribers-chart {
        width: 200px;
        margin-top: 25px;
        /* height: 400px; */
        /* margin-left: -60px; */
    }
}