/* windows screen css */
@media (min-width: 769px) {
    .text{
        padding-top: 20px;
        padding-left: 55px;
    }

    .point-chart {
        /* width: 500px !important; */
        height: 310px;
        /* margin-top: 25px; */
        /* margin-left: -60px; */
    }

    .subcribers-chart {
        width: 235px !important;
        margin-top: 25px;
        height: 235px !important;
        margin-left: 50px;
    }

    .customer-chart {
        width: 680px !important;
        height: 250px !important;
        margin-top: 30px;
        margin-left: 50px;
    }

    .revenue-chart {
        width: 250px !important;
        height: 300px !important;
        margin-top: 25px;
        margin-left: 5px;
    }

    .income-chart {
        width: 650px !important;
        height: 250px !important;
        margin-top: 20px;
        margin-left: 50px;
    }

    .text-font {
        font-weight: bold;
        font-size: 25px;
    }

}
 
/* common css for mobile and windw screen */
.user_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

.msg {
        margin-left: 60px;
        margin-top: -50px;
    }

.blocked-card {
        height: 355px;
        overflow-y: auto;
    }

.icon-wrapper {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 0.5rem;
    }

.user-text {
    position: absolute;
    top: 40%;
    left: 40%;
}

.nav-link.active {
    color: #007bff; /* Desired color for active link */
    font-weight: bold;
}

/* mobille screen css */
@media (max-width: 768px){
    .point-chart {
        height: 200px;
    }

    .subcribers-chart {
        width: 200px !important;
        height: 200px !important;
        margin-left: 60px;
    }

    .revenue-chart {
        width: 300px !important;
        height: 300px !important;
    }

    .revenue-card {
        margin-top: 40px;
    }

    .income-card {
        height: 200px;
    }

    .customer-card {
        height: 200px;
    }

    .blocked-users {
        margin-top: 120px;
    }
}