:root {
  --russian-violet: #4b164c;
  --black: #000000;
  --light-medium-orchid: #dd88cf;
  --snow: #fffdf7;
  --yellow-sun: #f6e89a;
}

.home-profile-card-container {
  color: var(--snow);
}

.status-image {
  border: 0.1rem solid #dd88cf;
  padding: 0.2rem;
}

.filter-btn-container {
  background-color: #f8e7f6;
  color: #333333;
  border: 0.2rem solid white;
}

.btn-container {
  width: 100%;
}

.btn-container:focus {
  background-color: #fdf7fd;
  color: blue;
}

.profile-icons {
  background-color: rgba(255, 255, 255, 0.381);
  backdrop-filter: blur(100px);
  border-radius: 1.5rem 0rem 0rem 1.5rem;
}

.profile-icons .icon {
  background-color: rgba(255, 255, 255, 0.284);
}

/* navbar css  */

.base_nav_right {
  color: var(--russian-violet);
  cursor: pointer;
}

.base_nav_left {
  cursor: pointer;
}

.notifcation-icon {
  border: 1px solid var(--russian-violet);
}

.left-menu-container {
  background-color: var(--russian-violet);
  width: 200px;
}

.left-menu-items {
  color: var(--snow);
}
.profile-on-menu {
  color: var(--snow);
}

.profile-on-menu:hover {
  background-color: transparent;
  color: var(--snow);
}

.left-menu-items:hover {
  background-color: rgba(255, 255, 255, 0.384);
  color: var(--snow);
  border-radius: 0.5rem;
}

/* menu  */
.menu_container {
  background-color: white;
  border: 1px solid var(--russian-violet);
}

.menu-icons {
  background-color: var(--light-medium-orchid);
  color: var(--snow);
}

/* leftside-bar */
/* Left Sidebar */
.leftside-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--russian-violet);
    color: var(--snow);
    overflow-y: auto;
}

.leftside-bar ul li {
    color: var(--snow);
}

.leftside-bar ul li:hover {
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 0.5rem;
}

.leftside-bar ul li a {
    color: var(--snow);
}

.leftside-bar ul li a:hover {
    color: var(--snow);
}

/* Main Content Area */
.main-content {
    margin-left: 16.666667%; /* Aligns with the width of the sidebar */
    padding-top: 20px; /* Adjust as needed */
}

/* notifcation-icon */
.notifaction-alert {
  background-color: var(--russian-violet);
  color: var(--snow);
}

@media (min-width: 576px) {
  .menu_container {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .menu_container {
    width: 25%;
  }
}
