:root {
  --russian-violet: #4b164c;
  --black: #000000;
  --light-medium-orchid: #dd88cf;
  --snow: #fffdf7;
  --yellow-sun: #f6e89a;
}

body {
  background-color: var(--snow);
  font-family: "Aldrich", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: var(--black);
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}