:root {
  --russian-violet: #4b164c;
  --black: #000000;
  --light-medium-orchid: #dd88cf;
  --snow: #fffdf7;
  --yellow-sun: #f6e89a;
}

body {
  background-color: var(--snow);
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  color: var(--black);
}
