
.container {
    margin-top: 1%;
    width: 300px;
    /* height:700px; */
    background: rgb(80, 1, 80);
    box-shadow: 2px 4px 15px rgba(192, 192, 192, 0.5);
  }
  #c1 {
    background: rgb(80, 1, 80);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 120px;
  }
  #c2 {
    background-color: black;
    border-radius: 15px;
    width: 400px;
    height:700px;
  }
  #btn1 {
    height: 50px;
    width: 250px;
    padding:2%;
    margin-right:4%;
    margin-top:8%;
    background-color: rgb(53, 53, 53);
    font-size: x-large;
    font-weight: bold;
    color: rgb(119, 118, 118);
    border-radius: 10px;
  }
  /* menu-bar */
  .col-2 {
    border-radius:40px;
    margin-right: 18px;
    height: 40px;
    width: 45px;
    color: white;
    border: 2px solid white;
    padding-right: 9%;
  }
  #footer{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-left: 4%;
    background-color: white;
    border-radius: 25px;
    height: 58px;
    width: 350px;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(131, 130, 130, 0.5);
  }