#h1{
  height:95px;
  background-color:rgb(80, 1, 80);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top:2%;
  font-size:large;
  color:white;
}
#h2{
  text-align: center;
  padding-top:2%;
  border-radius:10px;
  height:1000px;
  background-color: black;
}
/* #btn1 {
  height: 50px;
  width: 250px;
  background-color: rgb(53, 53, 53);
  font-size: x-large;
  font-weight: bold;
  color: rgb(119, 118, 118);
  border-radius: 10px;
} */