{% extends "base_files/base.html" %}
{% load custom_tags %}
{% block meta %}
{% endblock meta %}
{% block title %}
    recieved
{% endblock title %}
{% block link %}
{% endblock link %}
{% block style %}
    <style>
    /* Custom styles for the messaging interface */
    .navbar-custom {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 10;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-left {
        flex-shrink: 0;
    }

    .nav-right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-custom i {
        color: white;
        padding-right: 8px;
    }

    .navbar-custom .distance {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
    }

    .menu-icon {
        position: sticky; /* Keeps the menu-icon fixed within its container */
        top: 0;
        background-color: #343a40;
        z-index: 10;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon h3 {
        margin: 0;
        color: white;
    }

    /* Container for chat users */
    .chat_userview {
        height: calc(100vh - 80px); /* Adjust based on the height of the .menu-icon and any other fixed elements */
        overflow-y: auto; /* Enable vertical scrolling */
        background-color: #343a40;
        padding: 10px;
    }

    /* Ensure the view_user div elements do not overflow */
    .view_user {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-top: inset;
        border-color: darkgray;
    }

    /* Ensure the image in view_user scales properly */
    .view_user_img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }


    .msg {
        margin-left: 10px;
        color: white;
    }

    .col-10.col-md-11 {
        padding-right: 0;
    }

    .chat-section {
        background-color: #343a40;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .cross_icon{
        margin-left: 25px;
        color: white;
    }


    .heart_icon{
        padding-left: 25px;
        color: white;
    }

    .footer_nav{
        height: 70px;
    }


    @media (max-width: 576px) {
        .profile-cards-container {
            flex-direction: row;
        }

        .menu-icon {
            flex-direction: row;
            align-items: baseline;
            background-color: black;
        }
        .chat-section {
            /* background-color: #343a40; */
            background-color: rgb(80, 1, 80);
            display: flex;
            flex-direction: row;
        }

        /* Container for chat users */
        .chat_userview {
            height: calc(100vh - 80px); /* Adjust based on the height of the .menu-icon and any other fixed elements */
            overflow-y: auto; /* Enable vertical scrolling */
            background-color: black;
            padding: 18px;
            border-top-right-radius: 45px;
            border-top-left-radius: 45px;
            margin-top: 30px;
        }


        .msg {
            margin-left: 10px;
            color: white;
        }

        .cross_icon{
            margin: auto;
            color: white;
        }

        .heart_icon{
           padding-left: 0;
            color: white;
            font-size: 15px;
        }

        .footer_nav{
            height: 95px;
        }
    }
    </style>
{% endblock style %}
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar-custom">
                    <div class="nav-left">
                        <i class='fas fa-angle-left' style='font-size:24px'></i>
                    </div>
                    <div class="nav-right">
                        <div class="distance">Recieved</div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock header %}
{% block content %}
    <div class="container-fluid bg-dark">
        <div class="row chat-section" style="padding-top: 80px;">
            <!-- Chat User View -->
            <div class="col-md-6 chat_userview">
                <div class="menu-icon">
                    <h3 class="match-message">Peoples</h3>
                    <nav class="navbar navbar-light">
                        <form class="form-inline" onsubmit="return false;">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text"
                                   id="search-input"
                                   class="form-control"
                                   placeholder="Search"
                                   aria-label="Search"
                                   aria-describedby="basic-addon1">
                          </div>
                        </form>
                      </nav>
                      <div id="search-results" class="mt-2 list-group"></div>
                </div>
                {% if received_requests %}
                    {% for request in received_requests %}
                        <div class="view_user" style="border-top: inset; border-color:darkgray ;">
                            <!-- {% comment %} <a onclick="open_chat()" href="#" id="but"> {% endcomment %} -->
                            <div class="view_user_img">
                                <img class="img-fluid"
                                     src="{{ request.sender.user_details.profile_pic.url }}"
                                     alt=""
                                     width="50"
                                     height="50">
                            </div>
                            <div class="msg">
                                <a href="{% url 'profile' request.sender.id %}">
                                    <span style="text-transform: capitalize; color: white;">{{ request.sender.username }}</span>
                                </a>
                                <br>
                                <span style="text-transform: capitalize;">{{ request.sender.user_details.bio }}</span>
                            </div>
                            <div>
                                <form method="post" action="{% url 'handle_request' request.pk 'reject' %}">
                                    {% csrf_token %}
                                    <button class="btn">
                                        <div class="cross_icon">
                                            <span style="font-size: 25px;"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </div>
                                    </button>
                                </form>
                                <form method="post" action="{% url 'handle_request' request.pk 'accept' %}">
                                    {% csrf_token %}
                                    <button class="btn">
                                        <div class="heart_icon">
                                            <span style="font-size: 25px;"><i class="fa fa-heart" aria-hidden="true"></i></span>
                                        </div>
                                    </button>
                                </form>
                            </div>
                            {{ request.created_at|time:"g:i a" }}
                        </div>
                        <!-- </a> -->
                    {% endfor %}
                {% else %}
                    <div class="text-white">currently no requests recieved</div>
                {% endif %}
                <div class="footer_nav">{% include "widget/menu.html" %}</div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('search-input');
        const resultsContainer = document.getElementById('search-results');
    
        if (!searchInput || !resultsContainer) {
            console.error('Search input or results container not found');
            return;
        }
    
        searchInput.addEventListener('input', function() {
            const searchQuery = this.value;
    
            if (searchQuery.length > 0) {
                fetch(`?search=${encodeURIComponent(searchQuery)}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    resultsContainer.innerHTML = '';
                    data.forEach(item => {
                        const div = document.createElement('div');
                        div.className = 'view_user';
                        div.style = 'border-top: inset; border-color: darkgray;';
    
                        // Profile image section
                        const imgDiv = document.createElement('div');
                        imgDiv.className = 'view_user_img';
                        const img = document.createElement('img');
                        img.className = 'img-fluid';
                        img.src = item.sender__user_details__profile_pic;  // update the key if needed
                        img.width = 50;
                        img.height = 50;
                        imgDiv.appendChild(img);
    
                        // Message and user details section
                        const msgDiv = document.createElement('div');
                        msgDiv.className = 'msg';
                        const link = document.createElement('a');
                        link.href = `/profile/${item.sender__id}/`;
                        link.innerHTML = `<span style="text-transform: capitalize; color: white;">${item.sender__username}</span>`;
                        msgDiv.appendChild(link);
                        msgDiv.innerHTML += `<br><span style="text-transform: capitalize;">${item.sender__user_details__bio}</span>`;
    
                        // Action buttons
                        const actionsDiv = document.createElement('div');
                        const rejectForm = document.createElement('form');
                        rejectForm.method = 'post';
                        rejectForm.action = `/handle_request/${item.pk}/reject/`;  // Update as needed
                        rejectForm.innerHTML = `{% csrf_token %}<button class="btn"><div class="cross_icon"><span style="font-size: 25px;"><i class="fa fa-times" aria-hidden="true"></i></span></div></button>`;
                        actionsDiv.appendChild(rejectForm);
    
                        const acceptForm = document.createElement('form');
                        acceptForm.method = 'post';
                        acceptForm.action = `/handle_request/${item.pk}/accept/`;  // Update as needed
                        acceptForm.innerHTML = `{% csrf_token %}<button class="btn"><div class="heart_icon"><span style="font-size: 25px;"><i class="fa fa-heart" aria-hidden="true"></i></span></div></button>`;
                        actionsDiv.appendChild(acceptForm);
    
                        // Time section
                        const timeSpan = document.createElement('span');
                        timeSpan.textContent = new Date(item.created_at).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });
                        timeSpan.style.color = 'white';
    
                        // Append elements to result container
                        div.appendChild(imgDiv);
                        div.appendChild(msgDiv);
                        div.appendChild(actionsDiv);
                        div.appendChild(timeSpan);
    
                        resultsContainer.appendChild(div);
                    });
                    resultsContainer.style.display = data.length > 0 ? 'block' : 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                resultsContainer.innerHTML = '';
                resultsContainer.style.display = 'none';
            }
        });
    });
    
</script>
    {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for message in messages %}swal("Alert!", "{{ message|escapejs }}", "{{ message.tags }}");{% endfor %}
            });
        </script>
    {% endif %}
{% endblock scripts %}
