{% extends "base_files/base.html" %}
{% load static %}
{% load custom_tags %}
{% block meta %}
{% endblock meta %}
{% block title %}
    Send
{% endblock title %}
{% block link %}
{% endblock link %}
{% block style %}
    <style>
    /* Custom styles for the messaging interface */
    .navbar-custom {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 10;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-left {
        flex-shrink: 0;
    }

    .nav-right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-custom i {
        color: white;
        padding-right: 8px;
    }

    .navbar-custom .distance {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
    }

    .menu-icon {
        position: sticky; /* Keeps the menu-icon fixed within its container */
        top: 0;
        background-color: #343a40;
        z-index: 10;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon h3 {
        margin: 0;
        color: white;
    }

    /* Container for chat users */
    .chat_userview {
        height: calc(100vh - 80px); /* Adjust based on the height of the .menu-icon and any other fixed elements */
        overflow-y: auto; /* Enable vertical scrolling */
        background-color: #343a40;
        padding: 10px;
    }

    /* Ensure the view_user div elements do not overflow */
    .view_user {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-top: inset;
        border-color: darkgray;
    }

    /* Ensure the image in view_user scales properly */
    .view_user_img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }


    .msg {
        margin-left: 10px;
        color: white;
    }

    .col-10.col-md-11 {
        padding-right: 0;
    }

    .chat-section {
        background-color: #343a40;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cross_icon{
        /* margin-left: 620px; */
        margin-left: auto;
    }

    .footer_nav{
        height: 70px;
    }


    @media (max-width: 576px) {
        .profile-cards-container {
            flex-direction: row;
        }

        .menu-icon {
            flex-direction: row;
            align-items: baseline;
            background-color: black;
        }
        .chat-section {
            /* background-color: #343a40; */
            background-color: rgb(80, 1, 80);
            display: flex;
            flex-direction: row;
            position: relative;
        }

        /* Container for chat users */
        .chat_userview {
            height: calc(100vh - 80px); /* Adjust based on the height of the .menu-icon and any other fixed elements */
            overflow-y: auto; /* Enable vertical scrolling */
            background-color: black;
            padding: 15px;
            border-top-right-radius: 45px;
            border-top-left-radius: 45px;
            margin-top: 30px;
        }

        .view_user {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-top: inset;
            border-color: darkgray;
        }

         /* Ensure the image in view_user scales properly */
        .view_user_img img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


        .msg {
            margin-left: 10px;
            color: white;
        }

        .cross_icon{
            /* margin: auto; */
            margin-left: auto;
            color: white;
        }
        .footer_nav{
            height: 95px;
        }
    }
    </style>
{% endblock style %}
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar-custom">
                    <div class="nav-left">
                        <i class='fas fa-angle-left' style='font-size:24px'></i>
                    </div>
                    <div class="nav-right">
                        <div class="distance">Send</div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock header %}
{% block content %}
    <div class="container-fluid">
        <div class="row chat-section" style="padding-top: 80px;">
            <!-- Chat User View -->
            <div class="col-md-6 chat_userview">
                <div class="menu-icon">
                    <h3 class="match-message">Peoples</h3>
                    <nav class="navbar navbar-light">
                        <form class="form-inline">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search"
                                       aria-label="Search"
                                       aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </nav>
                </div>
                {% if sent_requests %}
                    {% for request in sent_requests %}
                        <div class="view_user" style="border-top: inset; border-color:darkgray ;">
                            <!-- {% comment %} <a onclick="open_chat()" href="#" id="but"> {% endcomment %} -->
                            <div class="view_user_img">
                                {% if request.get_receiver_profile_pic %}
                                    <img src="{{ request.get_receiver_profile_pic.url }}"
                                         alt="Receiver Profile Picture"
                                         width="50"
                                         height="50">
                                {% else %}
                                    <img src="{% static 'img/auth1.png' %}"
                                         alt="Default Profile Picture"
                                         width="50"
                                         height="50">
                                {% endif %}
                            </div>
                            <div class="msg">
                                <span style="text-transform: capitalize;">{{ request.receiver.username }}</span>
                                <br>
                                <span style="text-transform: capitalize;">hello how are you</span>
                            </div>
                            <div class="cross_icon">
                                <form method="post"
                                      action="{% url 'delete_request' pk=request.id %}"
                                      style="display: inline">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="btn" >
                                        <span style="font-size: 25px;">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </form>
                            </div>
                            <!-- </a> -->
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-white">currently no requests sended</div>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}{% endfor %}
                {% endif %}
                <div class="footer_nav">{% include "widget/menu.html" %}</div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block scripts %}
{% endblock scripts %}
