{% extends "base_files/base.html" %}
{% load static %}
{% load custom_tags %}
{% block meta %}
{% endblock meta %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/updated_moveablenav.css' %}">
{% endblock link %}
{% block style %}
    <style>
    .custom-container{
        background-color: rgb(27, 26, 26);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .navbar-custom {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 10;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-custom i {
        color: white;
        padding-right: 8px;
    }

    .navbar-custom .distance {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
        margin-left: 10px;
    }

    .carousel-item {
        position: relative;
        width: 300px;
        height: 100%;
    }

    .carousel-container {
        position: relative;
        width: 300px;
        height: 100%;
    }

    .carousel-inner img {
        width: 100%;
        height: 320px;
        object-fit: cover;
    }

    .profile-container {
        background-color: beige;
        width: 50%;
        display: flex;
        padding: 20px;
        gap: 10px;
    }

    .user_details {
        width: 100%;
    }

    .user_details .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .nav_button {
        display: flex;
        text-align: center;
        /* background-color: pink; */
    }

    .but_1 {
        width: 100%;
        height: 50px;
        background-color: white;
        box-shadow: 0px 0px 2px 2px rgb(235, 228, 228);
        border-radius: 30px;
        border-style: inset;
        border-color: rgb(236, 229, 229);
        padding-top: 10px;
    }
    
    .but_2 {
        width: 100%;
        height: 50px;
        background-color: pink;
        box-shadow: 0px 0px 2px 2px rgb(235, 232, 232);
        border-style: none;
        border-radius: 30px;
        border-style: inset;
        border-color: rgb(223, 217, 217);
        padding-top: 10px;
    }

    .interest_flex {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next row */
        gap: 10px;
        max-height: 100px; /* Set a maximum height for the container */
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .interest_flex span{
        border: 1px solid darkgoldenrod;
        border-radius: 10px;
        background-color: azure;
    }


    .profile-name {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        padding: 10px;
        max-width: 90%;
        box-sizing: border-box;
    }

    .profile-name h2,
    .profile-name h4 {
        margin: 0;
    }

    .profile-name h2 {
        font-size: 1.5rem;
    }

    .profile-name h4 {
        font-size: 1rem;
    }

    .profile-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: green;
        border: none;
        padding: 5px 10px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
    }

    .profile-button img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }

    /* Background blur effect */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Adjust opacity for your preferred effect */
        z-index: 999; /* Ensure it's above other content but below the modal */
        display: none; /* Initially hidden */
    }

    .blur-background {
        filter: blur(10px);
        transition: filter 0.3s ease;
    }

    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Responsive Design */
    @media (max-width: 767px) {

        .custom-container{
            display: flex;
            height: 100vh;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            padding: 0;
        }

        .navbar-custom {
            top: 0;
            left: 0;
            right: 0;
            padding: 10px;
            flex-direction: row;
        }

        .nav-left,
        .nav-right {
            text-align: center;
            margin: 5px 0;
        }

        .profile-container {
            background-color: black;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 0;
        }

        .carousel-container {
            position: relative;
            width: 100%;
            height: 200%;
        }

        .carousel-item {
            position: relative;
            width: 100%;
            height: 100%;
        }


        .carousel-inner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-name {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            padding: 10px;
            max-width: 90%;
            box-sizing: border-box;
        }

        .user_details{
            height: 100%;
            border: 1px solid;
            background-color: aliceblue;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;  

        }

        .nav_button{
          
            background-color: aliceblue;
            padding-top: 10px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            justify-content: center;
           
        }


        .but_1 {
            width:200px;
            background-color: rgb(238, 237, 235);
            box-shadow: 0px 0px 2px 2px rgb(235, 232, 232);
            height: 40px;
            border-radius: 30px;
            border-style: inset;
            border-color: rgb(223, 217, 217);
            padding-top: 5px;
        }

        .but_2 {
            width:200px;
            height: 40px;
            background-color: pink;
            box-shadow: 0px 0px 2px 2px rgb(235, 232, 232);
            border-style: none;
            border-radius: 30px;
            border-style: inset;
            border-color: rgb(223, 217, 217);
            padding-top: 5px;
        }


        .user_details .btn {
            margin-bottom: 5px;
        }



    }

    </style>
{% endblock style %}
{% block header %}
{% endblock header %}
{% block content %}
    <div class="container-fluid custom-container">
        <div class="profile-container">
            <div class="carousel-container">
                <nav class="navbar-custom">
                    <div class="nav-left">
                        <i class='fas fa-angle-left' style='font-size:24px'></i>
                    </div>
                    <div class="nav-right">
                        <div class="distance">
                            <i class='fas fa-location-arrow' style='font-size:18px'></i>2.5 km
                        </div>
                    </div>
                </nav>
                <div id="carouselExampleControls"
                     class="carousel slide"
                     data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ user_details.profile_pic.url }}"
                                 class="d-block img-fluid"
                                 alt="Profile Picture">
                        </div>
                        {% if pictures %}
                            {% for photo in pictures %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ photo.photos.url }}"
                                         class="d-block img-fluid"
                                         alt="extra Picture">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="profile-name">
                    <label>
                        <h2>{{ user.username }}</h2>
                    </label>
                    <label>
                        <h4>{{ user.email }}</h4>
                    </label>
                    <button type="button" class="profile-button" data-mdb-ripple-init>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeGWA3wIXqIM-zGxxIQJ4h42ygmb4nYquSKQ&s"
                             class="image-fluid"
                             alt="">
                        {{ user.is_online|yesno:"Online,Offline" }}
                    </button>
                </div>
                {% include "widget/updated_moveablenav.html" %}
            </div>
            <div class="user_details">
                <div class="nav_button">
                    <div class="but_1" id="button_1">
                        <a href="#" onclick="showAbout()">About</a>
                    </div>
                    <div class="but_2" id="button_2">
                        <a href="#" onclick="showContact()">Contact</a>
                    </div>
                </div>
                <!-- About Section (default visible) -->
                <div class="about_user mt-3 ps-4" id="about_section">
                    <label for="title" style="font-size:15px; font-weight: bold;">About :</label>
                    <p>{{ user_details.bio|default:"No details provided." }}</p>
                    <div class="interest ">
                        <label for="title" style="font-size:15px; font-weight: bold;">Interests :</label>
                        <div class="interest_flex">
                            {% for interest in user_details.interests.all %}<span>{{ interest.interest }}</span>{% endfor %}
                        </div>
                    </div>
                    <div class="hobbies  mt-4">
                        <label for="title" style="font-size:15px; font-weight: bold;">Hobbies :</label>
                        <div class="interest_flex">
                            {% for hobby in user_details.hobbies.all %}<span>{{ hobby.hobby }}</span>{% endfor %}
                        </div>
                    </div>
                    <div class="mt-3 ">
                        {% if job_details %}<p>Job: {{ job_details.job_title }}</p>{% endif %}
                    </div>
                </div>
                <!-- Contact Section (initially hidden) -->
                <div class="about_user mt-3 ps-2"
                     id="contact_section"
                     style="display: none">
                    <label for="title" style="font-size:15px; font-weight: bold;">Contact Info :</label>
                    <p>
                        Address: {{ user_details.user_location.address_details.village }}, {{ user_details.user_location.address_details.county }} {{ user_details.user_location.address_details.state_district }},{{ user_details.user_location.address_details.state }}
                    </p>
                    <p>Phone: {{ user.phone }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Marital Status: {{ additional_details.married_status }}</p>
                    <p>Annual Income: {{ additional_details.annual_income }}</p>
                    <p>Family Type: {{ additional_details.family_type }}</p>
                    <!-- Other contact-related details can be added here -->
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
    {% endblock footer %}
    {% block scripts %}
        <script>
    // Ensure the DOM is fully loaded before attaching the event listeners
    document.addEventListener('DOMContentLoaded', function () {
    
        // Function to show the About section and hide Contact
        function showAbout() {
            document.getElementById('about_section').style.display = 'block';
            document.getElementById('contact_section').style.display = 'none';
    
            // Update button background colors
            document.getElementById('button_1').style.backgroundColor = 'pink';
            document.getElementById('button_2').style.backgroundColor = 'white';
        } 
    
        // Function to show the Contact section and hide About
        function showContact() {
            document.getElementById('about_section').style.display = 'none';
            document.getElementById('contact_section').style.display = 'block';
    
            // Update button background colors
            document.getElementById('button_1').style.backgroundColor = 'white';
            document.getElementById('button_2').style.backgroundColor = 'pink';
    
            // Show the overlay and apply blur effect
            document.getElementById('background-overlay').style.display = 'block';
            document.querySelector('.container-fluid').classList.add('blur-background');
    
            // Show the modal using Bootstrap 5's Modal API
            var myModal = new bootstrap.Modal(document.getElementById('exampleModalToggle1'));
            myModal.show();
        }
    
        // Attach the showAbout and showContact functions to the buttons
        document.querySelector('.but_1 a').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            showAbout();
        });
    
        document.querySelector('.but_2 a').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            showContact();
        });
    
        // Remove blur, hide overlay, and refresh page when modal is closed
        document.getElementById('exampleModalToggle1').addEventListener('hidden.bs.modal', function () {
            document.getElementById('background-overlay').style.display = 'none';
            document.querySelector('.container-fluid').classList.remove('blur-background');
    
            // Refresh the page
            location.reload();
        });
    
        // Show the About section by default on page load
        showAbout();
    });
        </script>
        <script>
    $(document).ready(function() {
        // SweetAlert2 for add to shortlist confirmation
        $('form.add-to-shortlist').on('submit', function(event) {
            event.preventDefault();  // Prevent the form from submitting immediately

            var form = $(this);  // Get the form element

            Swal.fire({
                title: "Are you sure?",
                text: "Do you want to add this user to your shortlist?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes, add!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    form.off('submit').submit();  // Re-enable form submission and submit it
                } else {
                    Swal.fire(
                        'Cancelled',
                        'The user was not added to your shortlist.',
                        'info'
                    );
                }
            });
        });

        // SweetAlert2 for send request confirmation
        $('form.send-request').on('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting immediately
            var form = $(this); // Get the form element
            Swal.fire({
                title: "Send Interest Request",
                text: "Are you sure you want to send an interest request to this user?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes, send request!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Submit the form
                    form.off('submit').submit();
                } else {
                    Swal.fire(
                        'Cancelled',
                        'The interest request was not sent.',
                        'info'
                    );
                }
            });
        });
    });
    

    // SweetAlert2 for Django messages
    {% if messages %}
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            Swal.fire({
                title: "{{ message.tags|title }}",
                text: "{{ message|escapejs }}",
                icon: "{{ message.tags }}",
                confirmButtonText: "OK"
            });
        {% endfor %}
    });
    {% endif %}
        </script>
    {% endblock scripts %}
