{% extends "base_files/base.html" %}

{% load static %}
{% block meta %}

{% endblock meta %}

{% block link %}


{% endblock link %}

{% block style %}

<style>
    .demo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
    }
</style>

{% endblock style %}

{% block header %}

{% endblock header %}

{% block content %}

<h1 class="text-dark">hello</h1>

{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block script %}

{% endblock script %}