{% extends "base_files/base.html" %} 
{% load custom_tags %} 
{% block title %}Privacy & Setting{% endblock title %} 
{% block link %}{% endblock link %} 
{% block style %}
<style>
  /* Custom styles for the messaging interface */
  .navbar-custom {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 10;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-left {
    flex-shrink: 0;
  }

  .nav-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-custom i {
    color: white;
    padding-right: 8px;
  }

  .navbar-custom .distance {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
  }

  /* Container for chat users */
  .chat_userview {
    height: calc(100vh - 80px);
    background-color: #343a40;
    padding: 10px;
  }

  .main_div {
    top: 0;
    background-color: #343a40;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inner_flex {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: inset;
  }

  .content_flex {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 10px;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: inset;
  }

  .location_flex{
    display: flex;

  }

  .inner_flex_1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

  }


  .inner_flex_2{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  /* .second_row{
    display: flex;
    width: 500px;
    justify-content: center;
  } */

  .col-10.col-md-11 {
    padding-right: 0;
  }

  .chat-section {
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button_reset {
    align-self: flex-end;
    padding-top: 10px;
    text-transform: capitalize;
  }

  /* Range Slider Styles */
  .slider-container {
    width: 300px;
    padding-top: 15px;
    /* margin-left: 100px; */
    position: relative;
  }

  input[type="range"] {
    width: 100%;
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    background: transparent;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
  }

  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-values {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }

  /* Multi-Selector Styles */
  .multi-selector-container {
    color: black;
    width: 300px;
    /* margin: 20px; */
    position: relative;
  }

  .multi-selector {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    position: relative;
  }

  .title_row_2{
    display: none;
  }

  .right_row{
    width: 300px;
  }

  .selected-items {
    /* width: 100%; */
    /* margin-top: 10px; */
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: auto;
  }

  .selected-item {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .selected-item i {
    margin-left: 5px;
    cursor: pointer;
  }

  .location-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
  }

  .location-dropdown.open {
    display: block;
  }

  .location-item {
    padding: 5px 10px;
    cursor: pointer;
  }

  .location-item:hover {
    background-color: #f1f1f1;
  }

  @media (max-width: 576px) {
    .main_div {
      flex-direction: column;
      background-color: black;
    }

    .chat-section {
      position: relative;
      background-color: rgb(80, 1, 80);
      display: flex;
      flex-direction: row;
    }

    /* Container for chat users */
    .chat_userview {
      height: 100%;
      background-color: black;
      border-top-right-radius: 45px;
      border-top-left-radius: 45px;
      margin-top: 30px;
    }

    .inner_flex {
      display: flex;
      /* justify-content: space-between; */
      font-size: 20px;
      color: white;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom-style: inset;
    }

    .content_flex {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        gap: 10px;
        font-size: 15px;
        color: white;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom-style: inset;
        
    }

    .location_flex{
        display: flex;
        flex-direction: column;

    }

    .inner_flex_1{
        display: none;
    }

    .title_row_2{
        display: block;
        padding-bottom: 5px;
        font-size: 20px;
    }

    .inner_flex_2{
        width: 100%;
      align-items: center;
    }

    .slider-container {
        width: 300px;
        padding-top: 15px;
        /* margin-left: 100px; */
        position: relative;
    }    

    .button_reset button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
</style>
{% endblock style %} 
{% block header %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar-custom">
        <div class="nav-left">
          <i class="fas fa-angle-left" style="font-size: 24px"></i>
        </div>
        <div class="nav-right">
          <div class="distance">Privacy & Setting</div>
        </div>
      </nav>
    </div>
  </div>
</div>
{% endblock header %} 
{% block content %}
<div class="container-fluid bg-dark">
  <div class="row chat-section" style="padding-top: 80px">
    <!-- Chat User View -->
    <div class="col-md-6 chat_userview">
      <div class="main_div">
        <div class="inner_flex">
          <div class="first_row">
            <label for="">Partner Preference</label><br />
          </div>
        </div>


        <div class="content_flex">
            <div class="inner_flex_1">

                <div class="title_row">
                <label for="">Age Range</label><br />                                                 
                </div>
                <div class="title_row">
                <label for="">gender</label>
                </div>

                <div class="title_row">
                    <label for="">location</label>
                 </div>

                 <div class="title_row">
                    <label for="">Interest and hobbies</label>
                 </div>

                 <div class="title_row">
                    <label for="">Education Level</label>
                 </div>

                 <div class="title_row">
                    <label for="">Height</label>
                 </div>

                 <div class="title_row">
                    <label for="">weight</label>
                 </div>

                 <div class="title_row">
                    <label for="">religion</label>
                 </div>

                 <div class="title_row">
                    <label for="">occupation</label>
                 </div>

            </div>

            <div class="inner_flex_2">
                <div class="second_row">
                    <div class="title_row_2">
                        <label for="">Age Range</label>
                    </div>
                    <div class="slider-container">
                        <input type="range" id="minRange" min="0" max="100" value="20" step="1" oninput="updateRange()">
                        <input type="range" id="maxRange" min="0" max="100" value="80" step="1" oninput="updateRange()">
                        <div class="slider-values">
                            <span id="minValue">20</span> - <span id="maxValue">80</span>
                        </div>
                    </div>                                          
                </div>
                    <div class="right_row">
                        <div class="title_row_2">
                            <label for="">Age Range</label>
                        </div>
                        <select name="gender" id="gender" class="form-control">
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                    </div>

                    <div>
                        <div class="location_flex">
                            <div class="title_row_2">
                                <label for="">location</label>
                            </div>
                        <div class="multi-selector-container">
                            <div class="multi-selector" onclick="toggleDropdown()">Select Location</div>
                            <div class="location-dropdown">
                                {% for i in 5|number_rangeobj%}
                                <div class="location-item" onclick="selectLocation(this)">Location {{i}}</div>
                                {% endfor %}
                              </div>
                        </div>
                        <div class="selected-items" style="display: none;"></div>   

                    </div>
                    </div>

                    <div class="fourth_row">
                        <div class="location_flex">
                            <div class="title_row_2">
                                <label for="">hobbies & Habbits</label>
                            </div>
                            <div class="multi-selector-container">
                                <div class="multi-selector" onclick="toggleDropdown()">Select Location</div>
                                <div class="location-dropdown">
                                    {% for i in 5|number_rangeobj%}
                                    <div class="location-item" onclick="selectLocation(this)">Location {{i}}</div>
                                    {% endfor %}
                                  </div>
                            </div>
                            <div class="selected-items" style="display: none;"></div>   
    
                        </div>
                    </div>

                    <div class="right_row">
                        <div class="title_row_2">
                            <label for="">Education level</label>
                        </div>
                        <select name="gender" id="gender" class="form-control">
                            <option value="">Select Education</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                    </div>


                    <div class="first_row">
                        <div class="title_row_2">
                            <label for="">height</label>
                        </div>
                        <div class="slider-container">
                            <input type="range" id="minRange" min="0" max="100" value="20" step="1" oninput="updateRange()">
                            <input type="range" id="maxRange" min="0" max="100" value="80" step="1" oninput="updateRange()">
                            <div class="slider-values">
                                <span id="minValue">20</span> - <span id="maxValue">80</span>
                            </div>
                        </div>                                          
                    </div>

                    <div class="first_row">
                        <div class="title_row_2">
                            <label for="">weight</label>
                        </div>
                        <div class="slider-container">
                            <input type="range" id="minRange" min="0" max="100" value="20" step="1" oninput="updateRange()">
                            <input type="range" id="maxRange" min="0" max="100" value="80" step="1" oninput="updateRange()">
                            <div class="slider-values">
                                <span id="minValue">20</span> - <span id="maxValue">80</span>
                            </div>
                        </div>                                          
                    </div>
                    
                    <div class="right_row">
                        <div class="title_row_2">
                            <label for="">religion</label>
                        </div>
                        <select name="gender" id="gender" class="form-control">
                            <option value="">Select religion</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                    </div>

                    <div class="right_row">
                        <div class="title_row_2">
                            <label for="">occupation</label>
                        </div>
                        <select name="gender" id="gender" class="form-control">
                            <option value="">Select occupation</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                    </div>
    
            </div>

        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    // Range Slider Script
    function updateRange() {
        const minRange = document.getElementById("minRange");
        const maxRange = document.getElementById("maxRange");
        const minValue = document.getElementById("minValue");
        const maxValue = document.getElementById("maxValue");

        if (parseInt(minRange.value) > parseInt(maxRange.value)) {
            minRange.value = maxRange.value;
        }

        minValue.innerText = minRange.value;
        maxValue.innerText = maxRange.value;
    }

    // Multi-Selector Script
    function toggleDropdown() {
        const dropdown = document.querySelector('.location-dropdown');
        dropdown.classList.toggle('open');
    }

    function selectLocation(element) {
        const selectedItemsContainer = document.querySelector('.selected-items');
        selectedItemsContainer.style.display = 'block'
        const location = element.innerText;

        // Create a selected item element
        const selectedItem = document.createElement('div');
        selectedItem.classList.add('selected-item');
        selectedItem.innerText = location;

        // Create a remove icon
        const removeIcon = document.createElement('i');
        removeIcon.classList.add('fas', 'fa-times');
        removeIcon.onclick = function () {
            selectedItemsContainer.removeChild(selectedItem);
            element.style.display = 'block'; // Show the location back in the dropdown
            if (selectedItemsContainer.children.length === 0) {
                console.log('The div is empty.');
                selectedItemsContainer.style.display = 'none'
            } 
        };

        selectedItem.appendChild(removeIcon);
        selectedItemsContainer.appendChild(selectedItem);

        // Hide the selected location from the dropdown
        element.style.display = 'none';
    }

    // Close dropdown when clicking outside of it
    window.addEventListener('click', function (event) {
        const dropdown = document.querySelector('.location-dropdown');
        const multiSelector = document.querySelector('.multi-selector');
        if (!multiSelector.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.classList.remove('open');
        }
    });

</script>
{% endblock scripts %}
