{% extends "base_files/base.html" %}
{% load custom_tags %}
{% block meta %}{% endblock meta %}

{% block title %}setting{% endblock title %}

{% block link %}{% endblock link %}

{% block style %}
<style>
    /* Custom styles for the messaging interface */
    .navbar-custom {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 10;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-left {
        flex-shrink: 0;
    }

    .nav-right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-custom i {
        color: white;
        padding-right: 8px;
    }

    .navbar-custom .distance {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
    }


    .menu-icon h3 {
        margin: 0;
        color: white;
    }

    /* Container for chat users */
    .chat_userview {
        height: calc(100vh - 80px);
        /* Adjust based on the height of the .menu-icon and any other fixed elements */
        /* overflow-y: auto; */
        /* Enable vertical scrolling */
        background-color: #343a40;
        padding: 10px;
    }

/* Ensure the view_user div elements do not overflow */
.view_user {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    /* height: 118px; */
    align-items: center;
    position: relative;
}

    /* Ensure the image in view_user scales properly */
    .view_user_img img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .msg {
        margin-left: 10px;
        color: white;
        text-align: center;
    }


    .menu-icon {
        top: 0;
        background-color: #343a40;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .col-10.col-md-11 {
        padding-right: 0;
    }

    .chat-section {
        background-color: #343a40;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .user_setting {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center align the flex items */
    gap: 20px; /* Gap between inner_setting divs */
    }

    .inner_setting {
        display: flex;
        gap: 20px; /* Adjust the gap between the icon and the text */
        width: 100%;
        padding-bottom: 10px; /* Add some padding at the bottom */
        border-bottom-style: inset;
        border-bottom-color: white;
    }

    .logo .icon_circle {
        background-color: rgb(80, 76, 76);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center; /* Horizontally center the icon */
        align-items: center; /* Vertically center the icon */
    }

    .icon_circle i {
        font-size: 25px;
        color: white; /* Add this to make the icon visible if needed */
    }



    @media (max-width: 576px) {

        .menu-icon {
            flex-direction: column;
            /* align-items: baseline; */
            background-color: black;
        }

        .chat-section {
            background-color: #343a40;
            display: flex;
            flex-direction: row;
        }

        /* Container for chat users */
        .chat_userview {
            height: calc(100vh - 80px);
            background-color: black;
            padding: 30px;
            border-top-right-radius: 45px;
            border-top-left-radius: 45px;
            margin-top: 30px;
        }

        .view_user_img img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            /* align-items: center; */
        }

        .msg {
            margin-left: 5px;
            color: white;
            font-size: 15px;
            text-align: center;
        }

            /* Ensure the view_user div elements do not overflow */
        .view_user {
            display: flex;
            padding: 10px 0;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }

    }
</style>
{% endblock style %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar-custom">
                <div class="nav-left">
                    <i class='fas fa-angle-left' style='font-size:24px'></i>
                </div>
                <div class="nav-right">
                    <div class="distance">Setting</div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container-fluid bg-dark">

    <div class="row chat-section" style="padding-top: 80px;">
        <!-- Chat User View -->
        <div class="col-md-6 chat_userview">
            <div class="menu-icon">

                <div class="view_user" id="user_imgs">
                    <!-- {% comment %} <a onclick="open_chat()" href="#" id="but"> {% endcomment %} -->
                    <div class="view_user_img">
                        <img class="img-fluid"
                            src="https://media.istockphoto.com/id/916306960/photo/faceless-man-in-hoodie-standing-isolated-on-black.jpg?s=612x612&w=0&k=20&c=pMeGd1UuJgvdZ2gV2VQC2Jn3VwMNeW6TF3cG9RIo1tY="
                            alt="">
                    </div>
                    <div class="msg">
                        <span style="text-transform: capitalize;">Username</span><br>
                        <span style="text-transform: capitalize;">hello how are you</span>
                    </div>

                   
                    <!-- </a> -->
                </div>

                <div class="user_setting text-white" >
                    {% for i in 6|number_rangeobj  %}
                    <div class="inner_setting">
                    
                        <div class="logo">
                            <div class="icon_circle">
                                <i class="fa-solid fa-key"></i>
                            </div>
                        </div>
                        <div class="logo_paragraph">
                            <label for="title">Account</label><br>
                            <span>privacy, security, number</span>
                        </div>
                        
                    </div>
                    <!-- <hr style="background-color: white;"> -->
                    {% endfor %}
                </div>


            </div>

            
        </div>


    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block scripts %}


{% endblock scripts %}