{% extends "base_files/base.html" %}

{% load static %}

{% block meta %}{% endblock meta %}

{% block title %}Addcard{% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/Addcard.css' %}">

{% endblock style %}

{% block content %} 
<div class="container-fluid" id="mp">
  <div class="row">
    <div class="col-md-6">
      <nav class="navbar-custom">
          <div class="nav-left">
            <a href="{% url 'addpayment' %}">
              <i class='fas fa-angle-left' style='margin-top: 0%;margin-bottom:10%;font-size: 20px;color: black;'></i>
            </a>
          </div>
      </nav>
    </div>      
  </div>
  <h2 id="head">Add Amount</h2>
  <form id="payment-form" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="cardName" class="form-label">Plan</label>
      <input type="text" class="form-control" id="cardName" />
    </div>
    <div class="mb-3">
      <label for="cardNumber" class="form-label">Amount</label>
      <input type="number" name="amount" class="form-control" id="cardName" />
    </div>
    <div class="mb-3">
      <div class="scan-card" id="card">
        <i class="fas fa-qrcode" style="margin-right: 5px;"></i>Scan card
      </div>
    </div>
    <div class="footer-text" id="ft">
      Debit cards are accepted at some locations and for some categories.
    </div>
    <div class="text-center mb-3 card-logos">
      <img id="im" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg" alt="Visa" />
      <img id="im"
        src="https://upload.wikimedia.org/wikipedia/commons/9/9f/PayPal2007.svg"
        alt="paypal"
      />
      <img id="im" src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="Amex" />
    </div>
    <button type="submit" class="btn w-100 mt-5" id="bt">
      Pay
    </button>
  </form>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    document.querySelector("#payment-form").onsubmit = function (e) {
      e.preventDefault();
      fetch("{% url 'payment' %}", {
        method: "POST",
        body: new FormData(this),
      })
        .then((res) => res.json())
        .then((data) => {
          var options = {
            key: data.razorpay_key_id,
            amount: data.amount,
            currency: "INR",
            order_id: data.razorpay_order_id,
            handler: function (response) {
              fetch("{% url 'payment-callback' %}", {
                method: "POST",
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                  "X-CSRFToken": "{{ csrf_token }}",
                },
                body: new URLSearchParams({
                  razorpay_payment_id: response.razorpay_payment_id,
                  razorpay_order_id: response.razorpay_order_id,
                  razorpay_signature: response.razorpay_signature,
                }),
              }).then((response) => {
                window.location.href = "{% url 'payment-success' %}";
              });
            },
            "theme": {
              "color": "#3f0047"
          }
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
        });
    };
  </script>

  {% endblock content %}