{% extends "base_files/base.html" %}

{% load static %}

{% block meta %}{% endblock meta %}

{% block title %}Addpayment{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/Addpayment.css' %}">
{% endblock style %}

{% block content %}
<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar-custom">
              <div class="col-md-12 d-flex justify-content-between flex-column flex-sm-row">
                <a href="{% url 'subscribe' %}">
                  <i class='fas fa-times fa-lg' style='margin-top: 0%;margin-bottom:3%;font-size: 24px;color: black;'></i>
                </a>
                <b>Done</b>
              </div>
          </nav>
        </div>      
      </div>
      <h1 id="head">PAYMENT METHODS</h1>
      <p style="text-align: center;font-size:x-small;"> Choose desired payment type we offer easy ways for payments on our
        App</p>
      <form style="display: flex;justify-content: center;">
        <div class="mb">

            <a href="{% url 'addcard' %}" style="text-decoration: none;color: black;">
                <div class="row" id="r1" style="width: 400px;border-radius: 10px;">
                    <div class="col-4" style="padding-top: 5%;">
                        <img
                          class="im"
                          src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg"
                          alt="MasterCard"
                        />
                      </div>
                      <div class="col-2" style="padding-top: 4%">
                        <span
                          >***********7070<br />
                          <p style="font-size: x-small; color: rgb(111, 111, 111)">
                            Expires&nbsp;08/25
                          </p></span
                        >
                      </div>
                </div>

                <div class="row mt-2" id="r1" style="width: 400px;border-radius: 10px;">
                    <div class="col-4" style="padding-top: 5%;">
                        <img
                          class="im"
                          src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg"
                          alt="Visa"
                        />
                      </div>
                      <div class="col-2" style="padding-top: 4%">
                        <span
                          >***********7070<br />
                          <p style="font-size: x-small; color: rgb(111, 111, 111)">
                            Expires&nbsp;08/25
                          </p></span
                        >
                      </div>
                </div>

                <div class="row mt-2" id="r1" style="width: 400px;border-radius: 10px;">
                    <div class="col-4" style="padding-top: 5%;">
                        <img
                          class="im"
                          src="https://upload.wikimedia.org/wikipedia/commons/9/9f/PayPal2007.svg"
                          alt="PayPal"
                          style="width: 50px"
                        />
                      </div>
                      <div class="col-2" style="padding-top: 4%">
                        <span
                          >***********7070<br />
                          <p style="font-size: x-small; color: rgb(111, 111, 111)">
                            Expires&nbsp;08/25
                          </p></span
                        >
                      </div>
                </div>
            </a>
            <p
            style="
              font-size: smaller;
              padding-top:3%;
              font-weight: bold;
            "
          >
            CURRENT METHODS
          </p>
          <div class="row mt-2" id="r1" style="width: 400px;border-radius: 10px;">
            <div class="col-4" style="padding-top: 5%;">
                <i
                class="fa-solid fa-money-check-dollar fa-2x"
                style="color: rgb(254, 138, 13);margin-left:10%;"
              ></i>
              </div>
              <div class="col-4" style="padding-top: 4%">
                <span
                  >Cash Payment<br />
                  <p style="font-size: x-small; color: rgb(111, 111, 111)">
                    Default method
                  </p></span
                >
              </div>
              <div class="col-3" style="padding-top: 4%">
                <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                style="margin-left: 100%; height: 25px; width: 25px"
              />
              </div>
        </div>
        <a style="text-decoration: none;" href="subsctription1.html">
          <div class="row" id="bt">
            <div class="col mt-3 text-white" style="margin-right: 10%;text-align:center;">
              ADD PAYMENT METHOD 
            </div>
          </div>
        </a>
        </div>
       </div>
      </form>
    </div>
    {% endblock content %}
