{% extends 'base_files/base.html' %}
 {% load static %}
 {% block meta %}
 <title>Job details</title>
 
 
 {% endblock meta %}
{% block content %}
<body>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#JobDetailsModal">
        Job Details
    </button>

    
    <div class="modal fade" id="JobDetailsModal" tabindex="-1" aria-labelledby="JobDetailsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="JobDetailsModalLabel">Job Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="d-grid gap-3">
                        
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Company Name">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Designation">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Location">
                            </div>
                            <button type="submit" class="btn btn-dark w-100" id="nextToJobdetails2">Next</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('nextToJobdetails2').addEventListener('click', function() {
            $('#JobstatusModal').modal('hide');
            $('#JobDetailsModal').modal('show');
        });
    </script>
</body>
</html>
{% endblock content %}
