{% extends 'base_files/base.html' %}
{% load static %}
{% block meta %}
<title>Job Status</title>
{% endblock meta %}

{% block content %}
<body>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#JobstatusModal">
        Job status
    </button>

    <div class="modal fade" id="JobstatusModal" tabindex="-1" aria-labelledby="JobstatusModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="JobstatusModalLabel">Job status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-grid gap-3">
                        
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                                <label class="form-check-label" for="check1">Employer</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                                <label class="form-check-label" for="check2">Employee</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check3" name="option3" value="something">
                                <label class="form-check-label" for="check3">Job Seeker</label>
                            </div>
                            <button type="submit" class="btn btn-dark w-100" id="nextToJobDetails">Next</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('nextToJobDetails').addEventListener('click', function() {
            $('#JobstatusModal').modal('hide');
            $('#JobDetailsModal').modal('show');
        });
    </script>
</body>
{% endblock content %}
