{% extends 'base_files/base.html' %}
{% load static %}
{% block meta %}
<title>Personal details</title>
{% endblock meta %}

{% block content %}
<body>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PersonalModal">
        Personal
    </button>

    <div class="modal fade" id="PersonalModal" tabindex="-1" aria-labelledby="PersonalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PersonalModalLabel">Personal details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-grid gap-3">
                    
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Age">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="DOB">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Hobbies">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Smoking Habits">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Drinking Habits">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Qualifications">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Profile Pic">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Add More Images">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Short Reels">
                            </div>
                            <button type="button" class="btn btn-dark w-100" id="nextToJobStatus">Next</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('nextToJobStatus').addEventListener('click', function() {
            $('#PersonalModal').modal('hide');
            $('#JobstatusModal').modal('show');
        });
    </script>
</body>
{% endblock content %}
