<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-dismissible fade show notifaction-alert d-flex flex-row align-items-center"
                role="alert">
                <div class="ms-3">
                    <small class="text-primary">NEWS</small>
                    <small class="d-block fs-5">{{news_title}}</small>
                    <small class="text-white-50 d-block">{{news_subtitle}}</small>
                    <small class="text-white-50 d-block mt-3">{{time}}</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    style="filter: invert(100%);"></button>
            </div>
        </div>
    </div>
</div>