<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-dismissible fade show notifaction-alert d-flex flex-row align-items-center"
                role="alert">
                <i class="fa-solid fa-check-double fa-xl text-success"></i>
                <div class="ms-3">
                    <small class="d-block">{{message}}</small>
                    <small class="text-white-50 d-block">{{time}}</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    style="filter: invert(100%);"></button>
            </div>
        </div>
    </div>
</div>