<div class="container d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center my-2 base_nav_right">
    <i class="fa-solid fa-bars me-2"></i>
    <span class="fw-bold">BuddyPair</span>
  </div>
  <div class="d-flex align-items-center my-2 base_nav_left">
    <i class="fa-regular fa-bell me-2 notifcation-icon p-1 rounded-circle"></i>
    <img
      src="{{ image }}"
      alt="My Story"
      class="rounded-circle overflow-hidden"
      style="width: 30px; height: 30px"
    />
  </div>
</div>
