<div class="col-6 col-sm-6 col-md-4  my-2 home-profile-card-container">
  <div class="profile-card position-relative">
    <!-- Profile Status -->
    <div class="profile-info position-absolute top-0 start-0 ms-1 p-2 w-100">
      <p class="fs-6 px-2 rounded-pill" style="
                                border: 1px solid rgba(255, 255, 255, 0.791);
                                width: fit-content;
                                background-color: rgba(255, 255, 255, 0.146);
                            ">
        {{ status }}
      </p>
    </div>
    <!-- Profile Name, Gender, Age, Job, Location -->
    <div class="profile-info position-absolute bottom-0 text-center p-2 w-100">
      <small class="fw-bold fs-5">{{ name }}</small>
      <small class="fw-light ms-1 fs-5 text-uppercase">{{ gender }} {{ age }}</small>
      <p style="font-size: 10px" class="text-uppercase">{{ job }},{{ location }}</p>
    </div>
    <!-- Profile Icons -->
    <div class="profile-icons position-absolute top-50 end-0 translate-middle-y p-2">
      <div class="icon my-2 px-2 rounded-circle">
        <i class="fa-solid fa-thumbs-up fa-2xs"></i>
      </div>
      <div class="icon my-2 px-2 rounded-circle">
        <i class="fa-solid fa-comment fa-2xs"></i>
      </div>
      <div class="icon my-2 px-2 rounded-circle">
        <i class="fa-solid fa-ellipsis fa-2xs"></i>
      </div>
    </div>
    <!-- Profile Image -->
    <img src="{{ image }}" alt="Profile" class="img-fluid object-fit-cover rounded-5"
      style="width: 100%; height: 250px" />
  </div>
</div>