{% if type == 'checkbox' %}
<div class="form-check mb-3 ">
        <input class="form-check-input" name="{{name}}" type="checkbox" id="{{ label|slugify }}">
        <label class="form-check-label" for="{{ label|slugify }}">
            {{ label }}
        </label>
</div>
{% elif type ==  'for_relationtype_check' %}
<div class="form-check mb-3 ">
    <input class="form-check-input" name="{{name}}" type="checkbox" id="{{ label|slugify }}" value={{value}}>
    <label class="form-check-label" for="{{ label|slugify }}">
        {{ label }}
    </label>
</div>
{% elif type == 'select' %}
<div class="form-group mb-3">
    <select class="form-select" id="{{ label|slugify }}" name="{{ name }}">
        {% for option in select_options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
</div>
{% elif type == 'static_select' %}
<div class="form-group mb-3">
    <select class="form-select" id="{{ label|slugify }}" name="{{ name }}">
        <option value="single">single</option>
        <option value="married">married</option>
        <option value="divocred">divocred</option>
    </select>
</div>
{% elif type == 'gender_select' %}
<div class="form-group mb-3">
    <select class="form-select" id="{{ label|slugify }}" name="{{ name }}">
        <option value="gender">gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="O">Others</option>

    </select>
</div>
{% elif type == 'button' %}
<div class="form-group mb-3">
    <button type="button" class="btn btn-primary w-100" id="{{ label|slugify }}" name="{{ name }}">
        {{ label }}
    </button>
</div>
{% elif multi == 'true'%}
<div class="form-group mb-3">
<input type="{{ type }}" name="{{name}}"  multiple class="form-control" id="{{ label|slugify }}" placeholder="{{ label }}" />
</div>
{% else %}
<div class="form-group mb-3">
    {% if holder %}
    <input type="{{ type }}" name="{{name}}" class="form-control" id="{{ label|slugify }}" placeholder="{{ holder }}" />
    {% else %}
    <input type="{{ type }}" name="{{name}}" class="form-control" id="{{ label|slugify }}" placeholder="{{ label }}" />
    {% endif %}
</div>
{% endif %}