<div
    class="container fixed-bottom d-flex justify-content-around menu_container my-2 p-3 rounded-pill">
    <div class="menu-icons p-2 rounded-circle">
        <i class="fa-solid fa-magnifying-glass px-1"></i>
    </div>
    <div class="menu-icons p-2 rounded-circle">
        <i class="fa-solid fa-heart px-1"></i>
    </div>
    <div class="menu-icons p-2 rounded-circle">
        <i class="fa-solid fa-house px-1"></i>
    </div>
    <div class="menu-icons p-2 rounded-circle">
        <i class="fa-solid fa-star px-1"></i>
    </div>
    <div class="menu-icons p-2 rounded-circle">
        <i class="fa-solid fa-comment px-1"></i>
    </div>
</div>