<div class="modal fade" style="backdrop-filter: blur(10px);background-color: transparent;" id="PersonalModal" tabindex="-1" aria-labelledby="PersonalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PersonalModalLabel">Personal Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid">
                    <form action="{% url 'user_details' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <!-- Step 1 -->
                    <div id="step1">
                        <h1>Personal Details</h1>
                        {% include "widget/input_details_form.html" with type='number' label='Age'  name='age'%}
                        {% include "widget/input_details_form.html" with type='gender_select' label='gender' name='gender' %}
                        {% include "widget/input_details_form.html" with type='date' label='DOB' name='dob'%}
                        {% include "widget/input_details_form.html" with type='text' label='Hobbies' name='hobbies' %}
                        {% include "widget/input_details_form.html" with type='text' label='Intrestes' name='Intrestes' %}
                        {% include "widget/input_details_form.html" with type='checkbox' label='Smoking Habits' name='smoking_habits' %}
                        {% include "widget/input_details_form.html" with type='checkbox' label='Drinking Habits' name='drinking_habits' %}
                        {% include "widget/input_details_form.html" with type='text' label='Qualifications' name='qualification' %}
                        {% include "widget/input_details_form.html" with type='file' label='Profile Pic' name='profile_pic' %}
                        {% include "widget/input_details_form.html" with type='file' label='more Pic' name='photos' multi='true' %}
                        {% include "widget/input_details_form.html" with type='file' label='Short Reels' name='short_video' %}
                        {% if form.errors and show_personaldetails_modal%}
                            <div class="alert alert-danger" role="alert">
                                {% for field, errors in form.errors.items %}
                                    {% if field and field != '__all__' %}
                                    <div>
                                        {{field }}: {{ errors|join:', ' }}
                                    </div>
                                    {% else %}
                                    <div>
                                        {{ errors|join:', ' }}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}        
                        <button type="button" class="btn btn-dark w-100" id="nextToJobStatus">Next</button>
                    </div>

                    <!-- Step 2 -->
                    <div id="step2" class="d-none">
                        <h1>Job Status</h1>
                        {% include "widget/input_details_form.html" with type='checkbox' label='Employer' name='is_employer' %}
                        {% include "widget/input_details_form.html" with type='checkbox' label='Employee' name='is_employee' %}
                        {% include "widget/input_details_form.html" with type='checkbox' label='Job Seeker' name='is_jobseeker' %}
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="prevToPersonal">Previous</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-dark w-100" id="">save</button>
                            </div>
                            <button type="button" class="btn btn-dark w-100" id="nextToJobDetails">job</button>
                        </div>
                    </div>
                </form>
                    <!-- Step 3 -->
                    <div id="step3" class="d-none">
                        <form action="{% url 'job_details' %}" method="post">
                            {% csrf_token %}
                        <h1>Job Details</h1>
                        {% include "widget/input_details_form.html" with type='text' label='Title' name='job_title' %}
                        {% include "widget/input_details_form.html" with type='text' label='company name' name='company_name' %}
                        {% include "widget/input_details_form.html" with type='text' label='location' name='location' %}
                        {% include "widget/input_details_form.html" with type='text' label='designation' name='designation' %}
                        {% include "widget/input_details_form.html" with type='select' label='Experience Level' select_options=experance_level %}
                        {% if form.errors%}
                            <div class="alert alert-danger" role="alert">
                                {% for field, errors in form.errors.items %}
                                    {% if field and field != '__all__' %}
                                    <div>
                                        {{field }}: {{ errors|join:', ' }}
                                    </div>
                                    {% else %}
                                    <div>
                                        {{ errors|join:', ' }}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}   
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="prevToJobStatus">Previous</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-dark w-100" id="nextToRelationshipGoals">Next</button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <!-- Step 4 -->
                    <div id="step4" class="d-none">
                        <h1>Relationship Goals</h1>
                        {% include "widget/input_details_form.html" with type='checkbox' label='Long Term Relationship' %}
                        {% include "widget/input_details_form.html" with type='checkbox' label='Short Term Relationship' %}
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="prevToJobDetails">Previous</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="nextToInterested">Next</button>
                            </div>
                        </div>
                    </div>

                    <!-- Step 5 -->
                    <div id="step5" class="d-none">
                        <h1>Interested</h1>
                        {% include "widget/input_details_form.html" with type='button' label='Matrimony' %}
                        {% include "widget/input_details_form.html" with type='button' label='Dating' %}
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="prevToRelationshipGoals">Previous</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="nextToAdditionalDetails">Next</button>
                            </div>
                        </div>
                    </div>

                    <!-- Step 6 -->
                    <div id="step6" class="d-none">
                        <h1>Additional Details</h1>
                        {% include "widget/input_details_form.html" with type='select' label='Marital Status' select_options=marital_status %}
                        {% include "widget/input_details_form.html" with type='text' label='Annual Income' %}
                        {% include "widget/input_details_form.html" with type='text' label='Family Type' %}
                        {% include "widget/input_details_form.html" with type='text' label='Smoking Habits' %}
                        {% include "widget/input_details_form.html" with type='text' label='Drinking Habits' %}
                        {% include "widget/input_details_form.html" with type='text' label='Family Name' %}
                        {% include "widget/input_details_form.html" with type='text' label='Father\'s Name' %}
                        {% include "widget/input_details_form.html" with type='text' label='Father\'s Occupation' %}
                        {% include "widget/input_details_form.html" with type='text' label='Mother\'s Name' %}
                        {% include "widget/input_details_form.html" with type='text' label='Mother\'s Occupation' %}
                        {% include "widget/input_details_form.html" with type='text' label='Number Of Siblings Married' %}
                        {% include "widget/input_details_form.html" with type='text' label='Siblings Name & Details' %}
                        {% include "widget/input_details_form.html" with type='text' label='Height' %}
                        {% include "widget/input_details_form.html" with type='text' label='Weight' %}
                        {% include "widget/input_details_form.html" with type='text' label='Body Type' %}
                        {% include "widget/input_details_form.html" with type='text' label='Complexion' %}
                        {% include "widget/input_details_form.html" with type='text' label='Disabilities' %}
                        {% include "widget/input_details_form.html" with type='text' label='Religion' %}
                        {% include "widget/input_details_form.html" with type='text' label='Caste/Community' %}
                        {% include "widget/input_details_form.html" with type='text' label='Expectation from Partner' %}
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="prevToInterested">Previous</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-dark w-100" id="submitForm">Submit</button>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
</div>
