<div class="modal fade" style="backdrop-filter: blur(10px);" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Sign Up Form -->
                <form method="post" action="{% url 'auth_page' %}">
                    {% csrf_token %}
                    {% include "widget/input.html" with field=form.username label='Name' %}
                    {% include "widget/input.html" with field=form.email label='Email' %}
                    {% include "widget/input.html" with field=form.phone label='Phone' %}
                    {% include "widget/input.html" with field=form.password label='Password' %}
                    {% include "widget/input.html" with field=form.confirm_password label='Confirm Password' %}
                    
                    {% if form.errors and show_signup_modal%}
                        <div class="alert alert-danger" role="alert">
                            {% for field, errors in form.errors.items %}
                                {% if field and field != '__all__' %}
                                    <div>
                                        {{field }}: {{ errors|join:', ' }}
                                    </div>
                                    {% else %}
                                    <div>
                                        {{ errors|join:', ' }}
                                    </div>
                                {%endif%}    
                            {% endfor %}
                        </div>
                    {% endif %}

                    
                    
                    <!-- auth/auth.html -->

                    <button type="submit" class="btn btn-dark w-100">Register</button>
                    <button type="button" class="btn btn-secondary w-100">Social Media Login</button>
                    <div class="login-link text-center mt-3">
                        <p>Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" >Log In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "auth/details_form.html" %}

